* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header styling */

#header {
    margin: 10px;

}

#logo{
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
}

#about {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
}


.overlay{
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 400ms;
    visibility: hidden;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 50px auto;
    padding: 30px;
    width: 40%;
    text-align: center;
    display: inline-block;
    background:#fff;
    border-radius: 10px;
    position: relative;
    transition: all 500ms ease-in-out;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
}

/* images styling */

#container {
    padding: 10px 10%; 
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

img {
    width: 80%;
}

.slide {
    padding: 50px;
    justify-content: center;
    text-align: center;
}

/* footer styling */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* mobile */

@media only screen and (max-width: 700px){
    img {
        width: 100%;
    }

    #header {
        margin-bottom: 500px;
    }
    .slide {
        margin-bottom: 600px;
    }

    .popup {
        width: 70%;
    }
}
